// main styles / reset

html,
body {
	overflow-x: hidden;
}

a {
	@extend a;
	transition: all $transition-time;
}

::selection {
	background: $secondary-color;
	color: $white;
}

:focus {
	outline-color: #bfeaf2;
	outline-style: solid;
	outline-width: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	border-bottom: solid 2px rgba($white, 0.125);
	padding-bottom: rem-calc(6.4px);
}

svg {
	vertical-align: middle;
}

figure {
	@extend figure;
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	transition: all $transition-time;
	opacity: 1;

	&.lazy {
		opacity: 0;
	}

}

input,
textarea,
button {

	&:focus {
		outline: none;
	}

}

.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	fill: currentColor;
}

// .iOS {

// 	::-webkit-scrollbar {
// 		all: unset;
// 	}

// 	::-webkit-scrollbar-track-piece  {
// 		all: unset;
// 	}

// 	::-webkit-scrollbar-thumb {
// 	    all: unset;
// 	}

// }

.alert {
	color: $alert-color;
}

.success {
	color: $success-color;
}